/* Merriweather*/

@font-face {
  font-family: 'Merriweather-Bold';
  src: url("/assets/fonts/Merriweather-Bold.woff2") ;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("/assets/fonts/Merriweather-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
